<?php 
/****************************************************************************
* Name:            _apps.php                                                *
* Project:         Customize                                                *
* Version:         1.69                                                     *
* Description:     Customize configuration file                             *
* Copyright (C):   2015 Rodolfo Calzetti                                    *
*                  License GNU LESSER GENERAL PUBLIC LICENSE Version 3      *
* Contact:         faustroll@tiscali.it                                     *
*                  postmaster@rudyz.net                                     *
****************************************************************************/

/*************************
| VARIABILI APPLICAZIONE |
*************************/

switch($RYWINZ->appname){
case "acmeweb":
    $RYWINZ->pilota->title="Menù principale";
    $RYWINZ->pilota->path=$url_applications."acmeweb/rudder/";
    $RYWINZ->pilota->icon=$url_applications."acmeweb/rudder/rudder";
    $RYWINZ->pilota->maximize=true;
    $RYWINZ->pilota->controls=false;
    $RYWINZ->company="A.C.M.E.";
    break;
}

// Non aggiungere accapi o spazi dopo ">"
?>