<?php 
/****************************************************************************
* Name:            _cambusa.php                                             *
* Project:         Customize                                                *
* Version:         1.69                                                     *
* Description:     Customize configuration file                             *
* Copyright (C):   2015 Rodolfo Calzetti                                    *
*                  License GNU LESSER GENERAL PUBLIC LICENSE Version 3      *
* Contact:         faustroll@tiscali.it                                     *
*                  postmaster@rudyz.net                                     *
****************************************************************************/

/**********************
| VARIABILI FRAMEWORK |
**********************/

$postmaster_mail="postmaster@rudyz.net";

if(strpos($url_base, "localhost")!==false){
    $path_databases="D:/WebData/databases/";
}

// Non aggiungere accapi o spazi dopo ">"
?>