/* Written by Kyle Hamilton of candpgeneration.com
   CSS3 transitions - animated dropdown menu without javascript that plays nice in IE7+, FF, CHROME, SAFARI
   The original bare bones version can be found at: http://candpgeneration.com/CSS-dropdowns/CSS3-dropdown.html
   You are free to use this code any way you like. 
   Please do not remove this comment. 
*/

/* the main menu */
.navigation {
    display:block;
    position:absolute;
    width:600px;
    z-index:1000;
}

.navigation > ul{
    display: -webkit-box;
    -webkit-box-orient: horizontal;

    display: -moz-box;
    -moz-box-orient: horizontal;

    display: box;
    -moz-box-orient: horizontal;
}

.navigation ul{
    list-style :none;
    margin:0; 
    padding:0; /* gets rid of any inherited margins and padding */
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
    position:relative;
    z-index:1000;
    width:600px;
}

.navigation > ul > li { 
    position : relative;
    float : left;

    font-size: 15px; /* this is here and not above, so that the subs can be made smaller using a % if desired */

    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}

.navigation > ul > li + li{
    margin-left:5px;
}

.navigation > ul > li > a {
    background-color: #2c2c2c; /*  grey */
    display:block;
    padding:8px 14px;
    text-decoration:none;
    color:#aaaaaa; 

    /* make the background-color fade in on roll-over */
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.navigation > ul > li > a:hover{
    background-color:#666666; /* grey */
    color:#eeeeee; /* light grey */
}

/* the show/hide effects */
/* the drop-down box */
.navigation ul ul{
    /* background-color:#e6056f;  remove. this is for illustration purposes only */
    width:340px; /* you need a width to accomodate tertiary menus */

    position:absolute;
    z-index:100;

    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.3s ease-in;
    -moz-transition: height 0.3s ease-in;
    -o-transition: height 0.3s ease-in;
    -ms-transition: height 0.3s ease-in;
    transition: height 0.3s ease-in;
}

/* don't display tertiary box yet */
.navigation > ul > li:hover ul ul, .navigation > ul > li > a:hover ul ul{
    height:0;

}
/* tertiary drop-down box */
.navigation ul ul ul{
    left:170px;
    width:170px;
}

.navigation > ul > li:hover ul, .navigation > ul > li > a:hover ul,
.navigation ul ul li:hover > ul, .navigation ul ul li a:hover > ul{
    height:220px;

}

/* drop-down item styles */
.navigation ul ul li{
    background-color:#eaeaea; /* grey */
    width:170px;

    /* make the background-color fade in on roll-over */
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

/* unfortunate ie7 gap fix */
.ie7 .navigation ul ul li{
    margin-bottom:-3px;
}

.navigation ul ul li:hover {
    background-color:#999;
}

.navigation ul ul li a {
    display:block;
    text-decoration:none;
    margin:0 12px;
    padding:5px 0;
    color:#4c4c4c; /* grey */
}

/* The following six rules set the lines in between menu items.
   To make this play nice in IE, we will not be using nth-child
   but the "+" sibling slector.
*/
.navigation ul ul ul li a{
    border:none !important;
}
.navigation ul ul ul li + li a{
    border-top:1px dotted #999 !important;
}
.navigation ul ul li + li a{
    border-top:1px dotted #999;
}
.navigation ul ul li:hover + li a{
    border-top:1px solid #eaeaea;
}
.navigation ul ul ul li:hover + li a{
    border: 0 !important;
}
.navigation ul ul ul li:hover + li{
    border-top:1px solid #999 !important;
}


.navigation ul ul li a:hover, .navigation ul ul li:hover > a {
    color:#ffffff; /* white */

}

.arrow{background:url(../_images/arrow.png) right center no-repeat;}
.header{width: 600px; height:50px; background-color: white;}
.content{position:relative; width: 600px; height:500px; color:white; background-color: white; overflow:hidden;}
